@using PagedList;
@model IPagedList<CustomerManagementSystem.Models.客戶銀行資訊>

@{
    ViewBag.Title = "客戶銀行帳戶管理";
    string key = ViewBag.keyword;
}

<h2>客戶銀行帳戶管理</h2>

<form class="form-inline" action="">
    <div class="input-group">
        @*<input type="search" name="keyword" id="keyword" class="form-control input-sm" placeholder="請輸入關鍵字" />*@
        @Html.TextBox("keyword", null, new { @class = "form-control input-sm", @placeholder = "請輸入關鍵字" })
        <span class="input-group-btn">
            <input type="submit" value="查詢" class="btn btn-sm btn-default" />
        </span>
    </div>
</form>
<br />
<p>
    @Html.ActionLink("新增客戶銀行帳戶", "Create")
</p>
@Html.Partial("_PageList銀行資訊")
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>